[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "ext/CLT"]
	path = ext/CLT
	url = https://github.com/harskish/CLT.git
[submodule "ext/pbrt-parser"]
	path = ext/pbrt-parser
	url = https://github.com/ingowald/pbrt-parser.git
